Django==4.2
reportlab==4.0.9

'''
User Name: Rahul-Teacher :    
mail=csprogramer19@gmail.com
password=#Developer.123


Students:

Name: Rahul
Mailid: selvamrahul46@gmail.com
password: #Developer.123


'''

